<footer class="footer bg-dark">
    <div class="container px-3 pt-3 pb-5 text-muted text-center">
        <p><a class="text-muted" href="https://github.com/nikerzetic/NPC-generator-za-DnD">GitHub</a></p>
        <p class="text-md"><i>This webapp was made as a final asignment for the course <b>Osnove podatkovnih baz</b> (Fundamentals of databases) at <b>Fakulteta za matematiko in fiziko, Univerza v Ljubljani</b> (Faculty for Mathematics and Physics, University of Ljubljana).</i></p>
        <p class="text-md"><i><b>Authors:</b> Borut Zupan, Nik Erzetič</i></p>
        <p><a class="text-muted" href="{% url 'admin:login' %}"><b>Admin</b></a></p>
    </div>
</footer>