{% extends 'urbarium/base.html' %}

{% block title %}Settlement Details | {% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">{{ settlement.name }}</div>
  <div class="card-body">{{ settlement.population }}, 
       {{ settlement.category }}, 
       {{ settlement.location }}, 
       {{ settlement.economy }}, 
       {{ settlement.known_for }}
    </div>
</div>
<p><a class="btn btn-primary" href="{% url 'settlement:edit' settlement.id %}">Edit</a></p>

<!-- <form action="" method="post">{% csrf_token %}
<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Test tooltip">
  <input type="submit" value="Edit">
</span>
</form> -->
{% endblock content %}
