{% extends 'settlement/card.html' %}


{% block title %}Settlement Details | {% endblock title %}


{% block card-header %}{{ settlement.name }}{% endblock card-header %}
  
{% block card-basic %}
{% if settlement.population %}<p><b>Population:</b> {{ settlement.population }}</p>{% endif %}
{% if settlement.category %}<p><b>Category:</b> {{ settlement.category }}</p>{% endif %}
{% if settlement.location %}<p><b>Location:</b> {{ settlement.location }}</p>{% endif %}
{% if settlement.economy %}<p><b>Economy:</b> {{ settlement.economy }}</p>{% endif %}
{% if settlement.knownfor %}<p><b>Known For:</b> {{ settlement.knownfor }}</p>{% endif %}
{% endblock card-basic %}

{% block card-buttons %}
<a class="btn btn-primary align-self-end" href="{% url 'settlement:edit' settlement.id %}">Edit</a>
{% endblock card-buttons %}

