{% extends 'character/card.html' %}


{% block title %}Character Details | {% endblock title %}


{% block card-header %}{{ character.name }} {{ character.surname }}{% endblock card-header %}
  
{% block card-basic %}
{% if character.race %}<p><b>Race:</b> {{ character.race }}</p>{% endif %}
{% if character.gender %}<p><b>Gender:</b> {{ character.gender }}</p>{% endif %}
{% if character.age %}<p><b>Age:</b> {{ character.age }}</p>{% endif %}
{% endblock card-basic %}

{% block str-table %}<span id="str-score">{{ character.strength }}</span> <span id="str-mod" class="text-muted"></span>{% endblock str-table %}
{% block dex-table %}<span id="dex-score">{{ character.dexterity }}</span> <span id="dex-mod" class="text-muted"></span>{% endblock dex-table %}
{% block con-table %}<span id="con-score">{{ character.constitution }}</span> <span id="con-mod" class="text-muted"></span>{% endblock con-table %}
{% block int-table %}<span id="int-score">{{ character.intelligence }}</span> <span id="int-mod" class="text-muted"></span>{% endblock int-table %}
{% block wis-table %}<span id="wis-score">{{ character.wisdom }}</span> <span id="wis-mod" class="text-muted"></span>{% endblock wis-table %}
{% block cha-table %}<span id="cha-score">{{ character.charisma }}</span> <span id="cha-mod" class="text-muted"></span>{% endblock cha-table %}

{% block card-lower %}
{% if character.appearance %}<p><b>Appearance:</b> {{ character.appearance }}</p>{% endif %}
{% if character.mannerism %}<p><b>Mannerism:</b> {{ character.mannerism }}</p>{% endif %}
{% if character.interactionTrait %}<p><b>Interaction Trait:</b> {{ character.interactionTrait }}</p>{% endif %}
{% if character.ideal %}<p><b>Ideal:</b> {{ character.ideal }}</p>{% endif %}
{% if character.bond %}<p><b>Bond: </b> {{ character.bond }}</p>{% endif %}
{% endblock card-lower %}

{% if character.notes %}{% block card-notes %}<p><b>Notes:</b> {{ character.notes }}</p>{% endblock card-notes %}{% endif %}

{% block card-buttons %}
<a class="btn btn-primary align-self-end" href="{% url 'character:edit' character.id %}">Edit</a>
{% endblock card-buttons %}


{% block scripts %}
<script type="text/javascript">
  function modifier(ability) {
    return Math.floor((ability - 10) / 2);
  }

  function abilities(ability) {
    var score = document.getElementById(ability + "-score").innerHTML;
    if (score === "None") {
      document.getElementById(ability + "-score").innerHTML = "";
      document.getElementById(ability + "-mod").innerHTML = "- -";
    } else {
      document.getElementById(ability + "-mod").innerHTML = modifier(score);
    }
  }

  abilities("str");
  abilities("dex");
  abilities("con");
  abilities("int");
  abilities("wis");
  abilities("cha");
</script>
{% endblock scripts %}
