{% extends 'urbarium/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Character | {% endblock title %}

{% block content %}
<div class = "card">
    <div class="card-header">{{ character.name }} {{ character.surname }}</div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            {{ form.name }} {{ form.surname }}, age {{ form.age }}, {{ form.race }} {{ form.gender }}
            <div class="text-right"><input type="submit" value="Save" class="btn btn-primary"></div>
        </form>
    </div>
</div>
{% endblock content %}