{% extends 'title/card.html' %}


{% block title %}Title Details | {% endblock title %}


{% block card-header %}{{ title.name }}{% endblock card-header %}
  
{% block card-basic %}
{% if title.concerning %}<p><b>Governing Body:</b> {{ title.concerning }}</p>{% endif %}
{% if title.holders %}
          <p><b>Holders</b>: 
              <ul>
                {% for holder in title.holders.all %}
                  <li>{{ holder }}</li>
                {% endfor %}
              </ul>
          </p>
{% endif %}
{% if title.current_holder %}<p><b>Current Holder:</b> {{ title.current_holder }}</p>{% endif %}
{% endblock card-basic %}

{% block card-buttons %}
<a class="btn btn-primary align-self-end" href="{% url 'title:edit' title.id %}">Edit</a>
{% endblock card-buttons %}
