html, body {
    height: 100%;
    background: thistle;
}

#col2 {
    padding-bottom: 80vh;
}

#id_strength, #id_dexterity, #id_constitution, #id_intelligence, #id_wisdom, #id_charisma {
    width: 40px;
}
